---
import BaseLayout from "../layouts/BaseLayout.astro";
import { url } from "../config";
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <img src={url('favicon.svg')} alt="" class="w-24 h-24 mb-2" />
        <div class="text-xl py-1">
            Hey! You are under my watch! Beware of what you do here!
        </div>
        <div class="text-5xl font-bold">I'm Selene</div>
        <div class="text-xl py-6">
            I study machine learning systems at UCL, collect good questions,
            and turn messy ideas into little working things. <br />
            This is my corner for projects, notes, and whatever I am curious
            enough to chase next.
        </div>

        <div class="mt-8 space-y-3">
            <div class="text-2xl font-bold">Visitor Notice</div>
            <div class="text-lg">
                This place is mostly harmless, lightly supervised, and full of
                things I am still figuring out.
            </div>
            <div class="text-lg">
                Projects are where I try to make ideas behave. Blog posts are
                where I let them misbehave first.
            </div>
            <div class="text-lg">
                Notes are for course thoughts, tiny discoveries, and future me
                who will absolutely forget everything otherwise.
            </div>
            <div class="text-lg">
                Try clicking WhatsApp. There's a surprise.
            </div>
        </div>
    </div>
</BaseLayout>
